body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
}

.form-section {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 4px;
}

.card button {
  margin-right: 5px;
}

.error {
  color: red;
}

.message {
  color: green;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* izquierda */
.title-block {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

/* centro */
.user-center {
  justify-self: center;
  text-align: center;
  font-weight: 500;
}

/* derecha */
#logout-btn {
  justify-self: end;
}

header h1 {
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: none; /* respeta mayúsculas/minúsculas */
  margin-bottom: 4px;
  margin-top: 0px;
}

header h2 {
  font-size: 22px;
  margin: 2px 0 0;
  font-weight: normal;
  color: #666;
  margin-top: 2;      /* saca el espacio arriba de Mis Órdenes */

}


